// Media Query
$small-and-up: '(width >= 384px)';
$small-and-down: '(width < 576px)';
$medium-and-up: '(width >= 576px)';
$medium-and-down: '(width < 1024px)';
$medium-only: '(576px <= width < 1024px)';
$large-and-up: '(width >= 1024px)';
$large-and-down: '(width < 1400px)';
$large-only: '(1024px <= width < 1400px)';
$extra-large: '(width >= 1400px)';
$touchscreen: '(hover: none) and (pointer: coarse)';
