@use 'sass:color';
@use './breakpoints' as breakpoints;

:root {
  // Color
  --c-primary: #0077db;
  --c-primary-alt: #4c31fb;

  // Transition
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  // Border
  --border-radius-small: 8px;
  --border-radius-regular: 16px;
  --border-radius-large: 32px;

  // Font
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  // Safe area
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);

  // Gray
  --c-white: #fff;
  --c-gray-95: hsl(from var(--c-primary) calc(h + 180) calc(pow(95, 3) / 100000 * 1%) calc(100% - 95%));
  --c-gray-93: hsl(from var(--c-primary) calc(h + 180) calc(pow(93, 3) / 100000 * 1%) calc(100% - 93%));
  --c-gray-90: hsl(from var(--c-primary) calc(h + 180) calc(pow(90, 3) / 100000 * 1%) calc(100% - 90%));
  --c-gray-87: hsl(from var(--c-primary) calc(h + 180) calc(pow(87, 3) / 100000 * 1%) calc(100% - 87%));
  --c-gray-84: hsl(from var(--c-primary) calc(h + 180) calc(pow(84, 3) / 100000 * 1%) calc(100% - 84%));
  --c-gray-80: hsl(from var(--c-primary) calc(h + 180) calc(pow(80, 3) / 100000 * 1%) calc(100% - 80%));
  --c-gray-75: hsl(from var(--c-primary) calc(h + 180) calc(pow(75, 3) / 100000 * 1%) calc(100% - 75%));
  --c-gray-65: hsl(from var(--c-primary) calc(h + 180) calc(pow(65, 3) / 100000 * 1%) calc(100% - 65%));
  --c-gray-50: hsl(from var(--c-primary) calc(h + 180) calc(pow(50, 3) / 100000 * 1%) calc(100% - 50%));
  --c-gray-35: hsl(from var(--c-primary) calc(h + 180) calc(pow(35, 3) / 100000 * 1%) calc(100% - 35%));
  --c-gray-25: hsl(from var(--c-primary) calc(h + 180) calc(pow(25, 3) / 100000 * 1%) calc(100% - 25%));
  --c-gray-20: hsl(from var(--c-primary) calc(h + 180) calc(pow(20, 3) / 100000 * 1%) calc(100% - 20%));
  --c-gray-16: hsl(from var(--c-primary) calc(h + 180) calc(pow(16, 3) / 100000 * 1%) calc(100% - 16%));
  --c-gray-13: hsl(from var(--c-primary) calc(h + 180) calc(pow(13, 3) / 100000 * 1%) calc(100% - 13%));
  --c-gray-10: hsl(from var(--c-primary) calc(h + 180) calc(pow(10, 3) / 100000 * 1%) calc(100% - 10%));
  --c-gray-7: hsl(from var(--c-primary) calc(h + 180) calc(pow(7, 3) / 100000 * 1%) calc(100% - 7%));
  --c-gray-5: hsl(from var(--c-primary) calc(h + 180) calc(pow(5, 3) / 100000 * 1%) calc(100% - 5%));
  --c-black: #000;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition: 0s;
  }
}

html {
  font-family: Inter, sans-serif;
  line-height: 1.25;
  -webkit-tap-highlight-color: transparent;
  color-scheme: var(--c-theme);
}

.light-mode {
  color: var(--c-text);
  background-color: var(--c-background-bg);

  // Color
  --c-theme: light;

  // Text
  --c-text: var(--c-gray-90);
  --c-text-secondary-1: var(--c-gray-20);
  --c-text-secondary-2: var(--c-gray-35);
  --c-text-secondary-3: var(--c-gray-50);
  --c-text-secondary-4: var(--c-gray-65);

  // Background
  --c-background-bg: var(--c-gray-5);
  --c-background-alt: var(--c-gray-13);
  --c-background-1: var(--c-white);
  --c-background-2: var(--c-white);
  --c-background-3: var(--c-white);

  // Border
  --c-border: transparent;

  @media (prefers-contrast: more) {
    // Text
    --c-text: var(--c-white);
    --c-text-secondary-1: var(--c-gray-50);
    --c-text-secondary-2: var(--c-gray-75);
    --c-text-secondary-3: var(--c-gray-90);
    --c-text-secondary-4: var(--c-white);

    // Background
    --c-background-bg: var(--c-black);
    --c-background-alt: var(--c-gray-5);
  }
}

.dark-mode,
.hacked-mode {
  color: var(--c-text);
  background-color: var(--c-background-bg);

  // Color
  --c-theme: dark;
  --c-white: #000;
  --c-black: #fff;

  // Text
  --c-text: var(--c-gray-5);
  --c-text-secondary-1: var(--c-gray-80);
  --c-text-secondary-2: var(--c-gray-65);
  --c-text-secondary-3: var(--c-gray-50);
  --c-text-secondary-4: var(--c-gray-35);

  // Background
  --c-background-bg: var(--c-gray-93);
  --c-background-alt: var(--c-gray-87);
  --c-background-1: var(--c-gray-90);
  --c-background-2: var(--c-gray-87);
  --c-background-3: var(--c-gray-84);

  // Border
  --c-border: color-mix(in srgb, var(--c-black) 5%, transparent);

  @media (prefers-contrast: more) {
    // Text
    --c-text: var(--c-black);
    --c-text-secondary-1: var(--c-gray-50);
    --c-text-secondary-2: var(--c-gray-25);
    --c-text-secondary-3: var(--c-gray-10);
    --c-text-secondary-4: var(--c-black);

    // Background
    --c-background-bg: var(--c-gray-95);
    --c-background-alt: var(--c-gray-93);
    --c-background-1: var(--c-gray-93);
    --c-background-2: var(--c-gray-90);
    --c-background-3: var(--c-gray-87);
  }
}

.hacked-mode {
  --c-primary: #a23ffd;
}

button {
  cursor: pointer;
}

a,
button {
  &:focus-visible {
    outline: 2px solid var(--c-text);
    outline-offset: var(--focus-offset, -2px);
    border-radius: var(--focus-radius, var(--border-radius-regular));
  }
}
