@use 'sass:color';
@use './variables' as variables;

:root {
  // Color
  --c-primary: #{variables.$primary};
  --c-primary-alt: #4c31fb;

  // Transition
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  // Border
  --border-radius-small: 8px;
  --border-radius-regular: 16px;
  --border-radius-large: 32px;

  // Font
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  // Safe area
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition: 0s;
  }
}

html {
  font-family: Inter, sans-serif;
  line-height: 1.25;
  -webkit-tap-highlight-color: transparent;
  color-scheme: var(--c-theme);
}

.light-mode {
  background-color: var(--c-background-bg);
  color: var(--c-text);

  // Color
  --c-primary-hover: #{color.mix(variables.$primary, variables.$grey-0, 90%)};
  --c-theme: light;

  // Text
  --c-text: #{variables.$grey-90};
  --c-text-secondary-1: #{variables.$grey-20};
  --c-text-secondary-2: #{variables.$grey-35};
  --c-text-secondary-3: #{variables.$grey-50};
  --c-text-secondary-4: #{variables.$grey-65};

  // Background
  --c-background-bg: #{variables.$grey-5};
  --c-background-alt: #{variables.$grey-13};
  --c-background-1: #{variables.$grey-0};
  --c-background-2: #{variables.$grey-0};
  --c-background-3: #{variables.$grey-0};

  // Border
  --c-border: transparent;

  @media (prefers-contrast: more) {
    // Text
    --c-text: #{variables.$grey-100};
    --c-text-secondary-1: #{variables.$grey-50};
    --c-text-secondary-2: #{variables.$grey-75};
    --c-text-secondary-3: #{variables.$grey-90};
    --c-text-secondary-4: #{variables.$grey-100};

    // Background
    --c-background-bg: #{variables.$grey-0};
    --c-background-alt: #{variables.$grey-5};
  }
}

.dark-mode,
.hacked-mode {
  background-color: var(--c-background-bg);
  color: var(--c-text);

  // Color
  --c-primary-hover: #{color.mix(variables.$primary, variables.$grey-100, 90%)};
  --c-theme: dark;

  // Text
  --c-text: #{variables.$grey-5};
  --c-text-secondary-1: #{variables.$grey-80};
  --c-text-secondary-2: #{variables.$grey-65};
  --c-text-secondary-3: #{variables.$grey-50};
  --c-text-secondary-4: #{variables.$grey-35};

  // Background
  --c-background-bg: #{variables.$grey-93};
  --c-background-alt: #{variables.$grey-87};
  --c-background-1: #{variables.$grey-90};
  --c-background-2: #{variables.$grey-87};
  --c-background-3: #{variables.$grey-84};

  // Border
  --c-border: #{rgba(variables.$grey-0, 0.05)};

  @media (prefers-contrast: more) {
    // Text
    --c-text: #{variables.$grey-0};
    --c-text-secondary-1: #{variables.$grey-50};
    --c-text-secondary-2: #{variables.$grey-25};
    --c-text-secondary-3: #{variables.$grey-10};
    --c-text-secondary-4: #{variables.$grey-0};

    // Background
    --c-background-bg: #{variables.$grey-95};
    --c-background-alt: #{variables.$grey-93};
    --c-background-1: #{variables.$grey-93};
    --c-background-2: #{variables.$grey-90};
    --c-background-3: #{variables.$grey-87};
  }
}

.hacked-mode {
  --c-primary: #a23ffd;
}

button {
  cursor: pointer;
}

li::marker {
  display: none;
}

a,
button {
  &:focus-visible {
    border-radius: var(--focus-radius, var(--border-radius-regular));
    outline: 2px solid var(--c-text);
    outline-offset: var(--focus-offset, -2px);
  }
}
