@use 'sass:meta';
@layer reset, base;
@import 'the-new-css-reset' layer(reset);

@layer base {
  @include meta.load-css('grid');
  @include meta.load-css('global');
  @include meta.load-css('animations');
}

@include meta.load-css('variables');
