@use "sass:color";

:root {
  // Color
  --c-primary: #{$primary};

  // Transition
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition: 0s;
  }
}

html {
  background-color: var(--c-background-bg);
  color: var(--c-text);
  font-family: Roboto, sans-serif;
  scroll-padding-top: 64px;
  scroll-behavior: smooth;

  &.light-mode {
    // Color
    --c-primary-hover: #{color.mix($primary, $grey-0, 90%)};

    // Text
    --c-text: #{$grey-90};

    // Background
    --c-background-bg: #{$grey-5};

    // Border
    --c-border: transparent;
  }

  &.dark-mode {
    // Color
    --c-primary-hover: #{color.mix($primary, $grey-100, 90%)};

    // Text
    --c-text: #{$grey-0};

    // Background
    --c-background-bg: #{$grey-93};

    // Border
    --c-border: #{rgba($grey-0, 0.05)};
  }
}
