@use "sass:color";

:root {
  // Color
  --c-primary: #{$primary};

  // Transition
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition: 0s;
  }
}

html {
  background-color: var(--c-background-bg);
  color: var(--c-text);
  font-family: Roboto, sans-serif;
  scroll-padding-top: 64px;
  scroll-behavior: smooth;

  &.light-mode {
    // Color
    --c-primary-hover: #{color.mix($primary, $grey-0, 90%)};

    // Text
    --c-text: #{$grey-90};
    --c-text-secondary-1: #{$grey-20};
    --c-text-secondary-2: #{$grey-35};
    --c-text-secondary-3: #{$grey-50};
    --c-text-secondary-4: #{$grey-65};

    // Background
    --c-background-bg: #{$grey-5};
    --c-background-alt: #{$grey-13};
    --c-background-1: #{$grey-0};
    --c-background-2: #{$grey-0};
    --c-background-3: #{$grey-0};

    // Border
    --c-border: transparent;
  }

  &.dark-mode {
    // Color
    --c-primary-hover: #{color.mix($primary, $grey-100, 90%)};

    // Text
    --c-text: #{$grey-0};
    --c-text-secondary-1: #{$grey-80};
    --c-text-secondary-2: #{$grey-65};
    --c-text-secondary-3: #{$grey-50};
    --c-text-secondary-4: #{$grey-35};

    // Background
    --c-background-bg: #{$grey-93};
    --c-background-alt: #{$grey-90};
    --c-background-1: #{$grey-90};
    --c-background-2: #{$grey-87};
    --c-background-3: #{$grey-84};

    // Border
    --c-border: #{rgba($grey-0, 0.05)};
  }
}

button {
  cursor: pointer;
}
