@import '~/assets/css/variables';

:root, #page.light-mode {
  // Colors
  --c-primary: #{$primary};
  --c-secondary: #{$secondary};
  --c-text: #{$black};
  --c-text-80: #{mix($black, $white, 80%)};
  --c-text-65: #{mix($black, $white, 65%)};
  --c-text-50: #{mix($black, $white, 50%)};
  --c-text-35: #{mix($black, $white, 35%)};
  --c-button-bg-hover: #{mix($secondary, $white, 90%)};
  --c-button-outlined-bg-hover: #{rgba($secondary, .1)};
  --c-background: #{$white};
  --c-background-1: #{$white};
  --c-background-2: #{$white};
  --c-background-3: #{$white};
  --c-danger: #{$red};
  --c-scrollbar-1: #{mix($black, $white, 25%)};
  --c-scrollbar-2: #{mix($black, $white, 35%)};
  --c-scrollbar-3: #{mix($black, $white, 50%)};

  --fs-regular: 1rem;
  --fs-small: .75rem;

  // Others
  --transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin dark-mode {
  // Colors
  --c-text: #{$white};
  --c-text-80: #{mix($white,$black,80%)};
  --c-text-65: #{mix($white, $black, 65%)};
  --c-text-35: #{mix($white, $black, 35%)};
  --c-button-bg-hover: #{mix($secondary, $black, 90%)};
  --c-background: #{mix($black,$white,93%)};
  --c-background-1: #{mix($black,$white,90%)};
  --c-background-2: #{mix($black,$white,87%)};
  --c-background-3: #{mix($black,$white,84%)};
  --c-scrollbar-1: #{mix($white, $black, 25%)};
  --c-scrollbar-2: #{mix($white, $black, 35%)};
  --c-scrollbar-3: #{mix($white, $black, 50%)};
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}

#page {
  perspective: 5000px;
  overflow: hidden;

  &.dark-mode {
    @include dark-mode;
  }
}


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  outline: none;

  ::-webkit-scrollbar {
    background: var(--c-background);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--c-scrollbar-1);
    border: 1px solid var(--c-background);

    &:hover {
      background: var(--c-scrollbar-2);
    }

    &:active {
      background: var(--c-scrollbar-3);
    }
  }
}


#page-content {
  position: relative;
  display: flex;
  height: 100vh;
  color: var(--c-text);
  transition: transform var(--transition);

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(white,.1);
    transition: var(--transition);
    z-index: -1;
  }

  &.minimized {
    transform: scale(.75) rotateY(50deg) translateX(-100vw);
    cursor: zoom-in;

    @media #{$medium-and-up} {
      transform: scale(.5) rotateY(50deg) translateX(-30vw);
    }

    &::before {
      transform: translate3d(calc(-13vw - 100px), 0, 0) scale(.8);
    }

    &::after {
      transform: translate3d(calc(-7vw - 50px), 0, 0) scale(.9);
    }
  }
}

main {
  flex: 100%;
  padding-top: 3.5em;
  background: var(--c-background);
  box-shadow: 0 5px 5px 0px rgba(black,.5);
  overflow: auto;
}

li {
  list-style-type: none;
}

.ripple {
  position: absolute;
  height: 0;
  width: 0;
  background: $black;
  border-radius: 50%;
  opacity: .1;
  transition: .5s ease-out, opacity .3s ease-out;
  z-index: -.1;

  &-container > *:not(.ripple) {
    position: relative;
  }
}


button {
  font-size: var(--fs-regular);
  border: none;
  background: transparent;
  cursor: pointer;

  &::-moz-focus-inner {
    border: none; // Remove border when focused for Firefox
  }
}

button, a {
  // outline: 2px solid transparent;

  &:focus:not(:active) {
    box-shadow: 0 0 0 2px var(--c-primary);
    outline-color: var(--c-primary);
  }
}

.elevation-1 {
  background: var(--c-background-1);
  box-shadow: 0px 2px 1px -1px rgba($black, .1), 0px 1px 1px 0px rgba($black, .07), 0px 1px 3px 0px rgba($black, .06);
}

.elevation-2 {
  background: var(--c-background-2);
  box-shadow: 0px 3px 1px -2px rgba($black, .1), 0px 2px 2px 0px rgba($black, .07), 0px 1px 5px 0px rgba($black, .06)
}

.elevation-3 {
  background: var(--c-background-3);
  box-shadow: 0px 3px 3px -2px rgba($black, .1), 0px 3px 4px 0px rgba($black, .07), 0px 1px 8px 0px rgba($black, .06);
}
