$black: black;
$white: white;

:root {
  // Color
  --c-primary: blue;
  --c-secondary: red;
  --c-white: #{$white};
  --c-black: #{$black};
  --c-black-75: #{rgba($black, .75)};

  // Elevation
  --elevation-1: 0px 2px 1px -1px rgba(#{$black}, 0.2), 0px 1px 1px 0px rgba(#{$black}, 0.14), 0px 1px 3px 0px rgba(#{$black}, 0.12);
  --elevation-2: 0px 3px 1px -2px rgba(#{$black}, 0.2), 0px 2px 2px 0px rgba(#{$black}, 0.14), 0px 1px 5px 0px rgba(#{$black}, 0.12);
  --elevation-3: 0px 3px 3px -2px rgba(#{$black}, 0.2), 0px 3px 4px 0px rgba(#{$black}, 0.14), 0px 1px 8px 0px rgba(#{$black}, 0.12);

  // Others
  --transition-speed: .3s ease-out;
  --transition: all var(--transition-speed);
}

body, p, h1, h2, h3, h4 {
  margin: 0;
}

body *:not(style, script) {
  display: flex;
}

#__layout {
  flex: 0 0 100%;
}

main {
  flex: 0 0 100%;
  flex-direction: column;
  height: 100vh;
}

#content {
  flex: 0 1 100%;
  display: block;
  overflow: auto;
}
