// --- CSS VARIABLES

:root {
  // Color
  --c-primary: #{$primary};
  --c-secondary: #{$secondary};
  --c-error: #{$red};
  --c-error-background: #{rgba($red, .25)};
  --c-success: #{$green};
  --c-success-background: #{rgba($green, .25)};

  // Background
  --c-background-fail: #{rgba($red, .25)};
  --c-background-success: #{rgba($green, .25)};

  // Fonts
  --fs-regular: 1rem;
  --fs-small: .75rem;

  // Envelope
  --c-enveloppe-shadow: #{rgba($grey-100, .3)};

  // Transition
  --transition: .3s cubic-bezier(.4, 0, .2, 1);
}

.light-mode {
  // Text
  --c-text: #{$grey-90};
  --c-text-secondary-1: #{$grey-20};
  --c-text-secondary-2: #{$grey-35};
  --c-text-secondary-3: #{$grey-50};
  --c-text-secondary-4: #{$grey-65};

  // Background
  --c-background-bg: #{$grey-5};
  --c-background-1: #{$grey-0};
  --c-background-2: #{$grey-0};
  --c-background-3: #{$grey-0};
  --c-secondary-hover: #{mix($secondary, $grey-0, 90%)};

  // Scroll
  --c-scroll-background: #{$grey-25};
  --c-scroll-hover: #{$grey-35};
  --c-scroll-active: #{$grey-50};

  // Envelope
  --c-enveloppe-background-1: #{$grey-10};
  --c-enveloppe-background-2: #{$grey-25};
  --c-enveloppe-background-3: #{$grey-35};

  // Border
  --c-border: transparent;
}

.dark-mode {
  // Text
  --c-text: #{$grey-0};
  --c-text-secondary-1: #{$grey-80};
  --c-text-secondary-2: #{$grey-65};
  --c-text-secondary-3: #{$grey-50};
  --c-text-secondary-4: #{$grey-35};

  // Background
  --c-background-bg: #{$grey-93};
  --c-background-1: #{$grey-90};
  --c-background-2: #{$grey-87};
  --c-background-3: #{$grey-84};
  --c-secondary-hover: #{mix($secondary, $grey-100, 90%)};

  // Scroll
  --c-scroll-background: #{$grey-75};
  --c-scroll-hover: #{$grey-65};
  --c-scroll-active: #{$grey-50};

  // Envelope
  --c-enveloppe-background-1: #{$grey-90};
  --c-enveloppe-background-2: #{$grey-87};
  --c-enveloppe-background-3: #{$grey-87};

  // Border
  --c-border: #{rgba($grey-0, .05)};
}

.hacked-mode {
  // Text
  --c-primary: #{$secondary};
  --c-secondary: #{$primary};

  --c-text: #{$grey-0};
  --c-text-secondary-1: #{$grey-80};
  --c-text-secondary-2: #{$grey-65};
  --c-text-secondary-3: #{$grey-50};
  --c-text-secondary-4: #{$grey-35};

  // Background
  --c-background-bg: #{$grey-93};
  --c-background-1: #{$grey-90};
  --c-background-2: #{$grey-87};
  --c-background-3: #{$grey-84};
  --c-secondary-hover: #{mix($primary, $grey-100, 90%)};

  // Scroll
  --c-scroll-background: #{$grey-75};
  --c-scroll-hover: #{$grey-65};
  --c-scroll-active: #{$grey-50};

  // Border
  --c-border: #{rgba($grey-0, .05)};
}

// Accessibility : User prefers to delete all animations
@media (prefers-reduced-motion: reduce) {
  :root {
    --transition: 0s;
  }
}

// --- GLOBAL

#page {
  perspective: 5000px;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  box-sizing: border-box;
  backface-visibility: hidden; // Tricks font aliasing

  ::-webkit-scrollbar {
    background-color: var(--c-background-bg);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--c-scroll-background);
    border: 1px solid var(--c-background-bg);

    &:hover {
      background-color: var(--c-scroll-hover);
    }

    &:active {
      background-color: var(--c-scroll-active);
    }
  }
}

#page-content {
  position: relative;
  display: flex;
  height: 100vh;
  color: var(--c-text);
  transition: transform var(--transition);
  will-change: transform;

  &::before, &::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($grey-0, .1);
    transition: var(--transition);
  }

  &.minimized {
    transform: scale(.75) rotateY(50deg) translateX(-100vw);
    cursor: zoom-in;

    @media #{$medium-and-up} {
      transform: scale(.5) rotateY(50deg) translateX(-30vw);
    }

    &::before {
      transform: translate3d(calc(-13vw - 100px), 0, 0) scale(.8);
    }

    &::after {
      transform: translate3d(calc(-7vw - 50px), 0, 0) scale(.9);
    }
  }
}

main {
  display: flex;
  flex: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
  background-color: var(--c-background-bg);
  box-shadow: 0 5px 5px 0 rgba($grey-100, .5);
  overflow: hidden auto;
  overflow: hidden overlay;
}

h1 {
  position: relative;
  margin: .75em 0;
  font-size: 2em;
  text-align: center;
  color: var(--c-primary);
  opacity: .5;
  transition: font-size var(--transition);

  &::before {
    content: attr(background);
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 0 0 1px var(--c-primary);
    white-space: nowrap;
    color: var(--c-background-bg);
    transform: scale(2) translate(-50%, -50%);
    transform-origin: top left;
  }

  @media #{$medium-and-up} {
    font-size: 4em;
  }
}

li {
  list-style-type: none;
}

button {
  font-size: var(--fs-regular);
  background-color: transparent;
  border-style: none;
  cursor: pointer;

  &::-moz-focus-inner {
    border-style: none; // Remove border when focused for Firefox
  }
}

button, a, [tabindex] {
  &:focus {
    outline: none;
  }
}

button, a {
  color: inherit;
  -webkit-tap-highlight-color: transparent;

  &:focus-visible {
    box-shadow: 0 0 0 3px var(--c-primary);
  }
}

a:not(:hover) {
  text-decoration: none;
}

img {
  object-fit: cover;
}

// --- HELPER

.elevation-1 {
  background-color: var(--c-background-1);
  box-shadow: inset 0 0 0 1px var(--c-border), 0 2px 1px -1px rgba($grey-100, .2), 0 1px 1px 0 rgba($grey-100, .14), 0 1px 3px 0 rgba($grey-100, .12);
}

.elevation-2 {
  background-color: var(--c-background-2);
  box-shadow: inset 0 0 0 1px var(--c-border), 0 3px 1px -2px rgba($grey-100, .2), 0 2px 2px 0 rgba($grey-100, .14), 0 1px 5px 0 rgba($grey-100, .12);
}

.elevation-3 {
  background-color: var(--c-background-3);
  box-shadow: inset 0 0 0 1px var(--c-border), 0 3px 3px -2px rgba($grey-100, .2), 0 3px 4px 0 rgba($grey-100, .14), 0 1px 8px 0 rgba($grey-100, .12);
}

.message-success, .message-fail {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  padding: 13px 16px;
  border-radius: $br-small;

  svg {
    flex: 0 0 20px;
    height: 20px;
    margin-right: 16px;
  }
}

.message-success {
  color: var(--c-success);
  fill: var(--c-success);
  background-color: var(--c-success-background);
  border: 1px solid var(--c-success);
}

.message-fail {
  color: var(--c-error);
  fill: var(--c-error);
  background-color: var(--c-error-background);
  border: 1px solid var(--c-error);
}
