$columns: (
  'xs': (
    'values': (6,12),
    'media-query': null
  ),
  's': (
    'values': (4),
    'media-query': $small-and-up
  ),
  'm': (
    'values': (2,6),
    'media-query': $medium-and-up
  ),
  'l': (
    'values': (1,3,4,8,9),
    'media-query': $large-and-up
  ),
  'xl': (
    'values': (),
    'media-query': $extra-large
  )
);

.container {
  width: min(90vw, 1280px);
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

@mixin col($prefix, $values) {
  @each $value in $values {
    .#{$prefix + $value} {
      grid-column: $value span;
    }
  }
}

@each $prefix, $data in $columns {
  $media-query: map-get($data, 'media-query');
  $values: map-get($data, 'values');

  @if ($media-query) {
    @media #{$media-query} {
      @include col($prefix, $values);
    }
  } @else {
    @include col($prefix, $values);
  }
}
