// Color
$white: #FFF;
$black: #000;
$primary: #0077DB;
$secondary: #A23FFD;
$red: #AB0000;
$green: #4CAF50;

// Media Query
$small: '(max-width : 575px)';
$medium-and-up: '(min-width : 576px)';
$medium-and-down: '(max-width : 1023px)';
$medium-only: '(min-width : 576px) and (max-width: 1023px)';
$large-and-up: '(min-width : 1024px)';
$large-and-down: '(max-width : 1399px)';
$large-only: '(min-width : 1024px) and (max-width: 1399px)';
$extra-large: '(min-width : 1400px)';

// Other

$diagonal: 1.7320508075688772935274463415059;
$border-in: 1px;
$border-out: 3px;

$hexagon-height: 200px;
$hexagon-width: $hexagon-height / $diagonal;
