// Media Query
$small: '(max-width : 575px)';
$medium-and-up: '(min-width : 576px)';
$medium-and-down: '(max-width : 1023px)';
$large-and-up: '(min-width : 1024px)';
$large-and-down: '(min-width : 1399px)';
$extra-large: '(min-width : 1400px)';
