name: CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}

    env:
      FONT_AWESOME_TOKEN: ${{ secrets.FONT_AWESOME_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Check
        run: pnpm check:ci

      - name: Unit testing
        run: pnpm test:unit

      - name: Build
        run: pnpm build
        env:
          SITE_URL: ${{ vars.SITE_URL }}
          ROBOTS_DISALLOW_VALUE: ${{ vars.ROBOTS_DISALLOW_VALUE }}
          RAPID_API_KEY: ${{ secrets.RAPID_API_KEY }}
          RAPID_API_HOST: ${{ secrets.RAPID_API_HOST }}
          CLOUDFLARE_ANALYTICS_TOKEN: ${{ secrets.CLOUDFLARE_ANALYTICS_TOKEN }}
          NITRO_PRESET: cloudflare

      - name: Install Cypress
        run: pnpm cypress install

      - name: Run Cypress
        uses: cypress-io/github-action@v6
        with:
          start: npx wrangler dev .output/server/index.mjs --site .output/public --port 3000
          wait-on: 'http://localhost:3000'
          browser: chrome

      - name: Upload Cypress Screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: ignore

      - name: Upload Build
        uses: actions/upload-artifact@v3
        with:
          name: nuxt-cloudflare-build
          path: |
            .output
            .nuxt/tsconfig.json

  deploy:
    if: |
      github.event_name == 'push' &&
      !contains(github.event.head_commit.message, '[skip-deploy]')
    needs: build
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}

    env:
      FONT_AWESOME_TOKEN: ${{ secrets.FONT_AWESOME_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          name: nuxt-cloudflare-build

      - name: Publish to Cloudflare
        if: ${{ !env.ACT }}
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy --env ${{ github.ref_name == 'main' && 'prod' || 'dev' }}
